In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
data = {
    'Area (sq. ft.)': [1200, 1500, 1100, 1800, None, 1300, 1000, None, 1700, 1400, 
                       1600, 1500, 900, 2000, None, 1250, 1400, 1750, 1100, 1900, 
                       1050, 1600, 1000, 1450, 1700, 1300, 1250, 1350, 1150, 1800],
    'Bedrooms': [2, 3, 2, None, 4, 3, 2, 1, 3, 2, None, 3, 1, 4, 2, 2, 3, 4, 2, 4, 
                 None, 3, 2, 3, None, 2, 1, 3, 2, 4],
    'Distance to City Center (km)': [5.0, 8.0, 3.5, 12.0, 15.0, 7.0, 1.5, 4.0, 10.0, 
                                     6.0, 13.0, None, 2.0, 18.0, 7.5, 5.5, None, 12.5, 
                                     3.0, 14.0, 2.5, 9.0, None, 6.5, 11.0, 4.5, 3.0, 
                                     5.0, 2.5, 10.0],
    'Price (in Lakhs)': [45, 55, 42, 65, 70, 50, 38, 25, 62, 48, 60, 55, 30, 80, 46, 
                         44, 52, 68, 41, 75, 37, 60, 39, 50, 63, 47, 33, 49, 40, 66]
}

In [3]:
data.head()

AttributeError: 'dict' object has no attribute 'head'

In [4]:
head(data)

NameError: name 'head' is not defined

In [5]:
data

{'Area (sq. ft.)': [1200,
  1500,
  1100,
  1800,
  None,
  1300,
  1000,
  None,
  1700,
  1400,
  1600,
  1500,
  900,
  2000,
  None,
  1250,
  1400,
  1750,
  1100,
  1900,
  1050,
  1600,
  1000,
  1450,
  1700,
  1300,
  1250,
  1350,
  1150,
  1800],
 'Bedrooms': [2,
  3,
  2,
  None,
  4,
  3,
  2,
  1,
  3,
  2,
  None,
  3,
  1,
  4,
  2,
  2,
  3,
  4,
  2,
  4,
  None,
  3,
  2,
  3,
  None,
  2,
  1,
  3,
  2,
  4],
 'Distance to City Center (km)': [5.0,
  8.0,
  3.5,
  12.0,
  15.0,
  7.0,
  1.5,
  4.0,
  10.0,
  6.0,
  13.0,
  None,
  2.0,
  18.0,
  7.5,
  5.5,
  None,
  12.5,
  3.0,
  14.0,
  2.5,
  9.0,
  None,
  6.5,
  11.0,
  4.5,
  3.0,
  5.0,
  2.5,
  10.0],
 'Price (in Lakhs)': [45,
  55,
  42,
  65,
  70,
  50,
  38,
  25,
  62,
  48,
  60,
  55,
  30,
  80,
  46,
  44,
  52,
  68,
  41,
  75,
  37,
  60,
  39,
  50,
  63,
  47,
  33,
  49,
  40,
  66]}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

    Area (sq. ft.)  Bedrooms  Distance to City Center (km)  Price (in Lakhs)
0           1200.0       2.0                           5.0                45
1           1500.0       3.0                           8.0                55
2           1100.0       2.0                           3.5                42
3           1800.0       NaN                          12.0                65
4              NaN       4.0                          15.0                70
5           1300.0       3.0                           7.0                50
6           1000.0       2.0                           1.5                38
7              NaN       1.0                           4.0                25
8           1700.0       3.0                          10.0                62
9           1400.0       2.0                           6.0                48
10          1600.0       NaN                          13.0                60
11          1500.0       3.0                           NaN                55
12           900.0       1.0                           2.0                30
13          2000.0       4.0                          18.0                80
14             NaN       2.0                           7.5                46
15          1250.0       2.0                           5.5                44
16          1400.0       3.0                           NaN                52
17          1750.0       4.0                          12.5                68
18          1100.0       2.0                           3.0                41
19          1900.0       4.0                          14.0                75
20          1050.0       NaN                           2.5                37
21          1600.0       3.0                           9.0                60
22          1000.0       2.0                           NaN                39
23          1450.0       3.0                           6.5                50
24          1700.0       NaN                          11.0                63
25          1300.0       2.0                           4.5                47
26          1250.0       1.0                           3.0                33
27          1350.0       3.0                           5.0                49
28          1150.0       2.0                           2.5                40
29          1800.0       4.0                          10.0                66

In [11]:
house_data_x = df.drop('Price (in Lakhs)',axis=1)

In [12]:
house_data_y = df['Price (in Lakhs)']

In [13]:
house_data_x

    Area (sq. ft.)  Bedrooms  Distance to City Center (km)
0           1200.0       2.0                           5.0
1           1500.0       3.0                           8.0
2           1100.0       2.0                           3.5
3           1800.0       NaN                          12.0
4              NaN       4.0                          15.0
5           1300.0       3.0                           7.0
6           1000.0       2.0                           1.5
7              NaN       1.0                           4.0
8           1700.0       3.0                          10.0
9           1400.0       2.0                           6.0
10          1600.0       NaN                          13.0
11          1500.0       3.0                           NaN
12           900.0       1.0                           2.0
13          2000.0       4.0                          18.0
14             NaN       2.0                           7.5
15          1250.0       2.0                           5.5
16          1400.0       3.0                           NaN
17          1750.0       4.0                          12.5
18          1100.0       2.0                           3.0
19          1900.0       4.0                          14.0
20          1050.0       NaN                           2.5
21          1600.0       3.0                           9.0
22          1000.0       2.0                           NaN
23          1450.0       3.0                           6.5
24          1700.0       NaN                          11.0
25          1300.0       2.0                           4.5
26          1250.0       1.0                           3.0
27          1350.0       3.0                           5.0
28          1150.0       2.0                           2.5
29          1800.0       4.0                          10.0

In [14]:
house_data_y

0     45
1     55
2     42
3     65
4     70
5     50
6     38
7     25
8     62
9     48
10    60
11    55
12    30
13    80
14    46
15    44
16    52
17    68
18    41
19    75
20    37
21    60
22    39
23    50
24    63
25    47
26    33
27    49
28    40
29    66
Name: Price (in Lakhs), dtype: int64

In [15]:
house_data_x.isnull().sum()

Area (sq. ft.)                  3
Bedrooms                        4
Distance to City Center (km)    3
dtype: int64

In [16]:
house_data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Area (sq. ft.)                27 non-null     float64
 1   Bedrooms                      26 non-null     float64
 2   Distance to City Center (km)  27 non-null     float64
dtypes: float64(3)
memory usage: 848.0 bytes

In [17]:
house_data_x =  house_data_x.interpolate()

In [18]:
house_data_x

    Area (sq. ft.)  Bedrooms  Distance to City Center (km)
0           1200.0       2.0                          5.00
1           1500.0       3.0                          8.00
2           1100.0       2.0                          3.50
3           1800.0       3.0                         12.00
4           1550.0       4.0                         15.00
5           1300.0       3.0                          7.00
6           1000.0       2.0                          1.50
7           1350.0       1.0                          4.00
8           1700.0       3.0                         10.00
9           1400.0       2.0                          6.00
10          1600.0       2.5                         13.00
11          1500.0       3.0                          7.50
12           900.0       1.0                          2.00
13          2000.0       4.0                         18.00
14          1625.0       2.0                          7.50
15          1250.0       2.0                          5.50
16          1400.0       3.0                          9.00
17          1750.0       4.0                         12.50
18          1100.0       2.0                          3.00
19          1900.0       4.0                         14.00
20          1050.0       3.5                          2.50
21          1600.0       3.0                          9.00
22          1000.0       2.0                          7.75
23          1450.0       3.0                          6.50
24          1700.0       2.5                         11.00
25          1300.0       2.0                          4.50
26          1250.0       1.0                          3.00
27          1350.0       3.0                          5.00
28          1150.0       2.0                          2.50
29          1800.0       4.0                         10.00

In [19]:
scaler = MinMaxScaler()

In [26]:
house_datax_scaled = scaler.fit_transform(house_data_x)

In [27]:
house_datax_scaled

array([[0.27272727, 0.33333333, 0.21212121],
       [0.54545455, 0.66666667, 0.39393939],
       [0.18181818, 0.33333333, 0.12121212],
       [0.81818182, 0.66666667, 0.63636364],
       [0.59090909, 1.        , 0.81818182],
       [0.36363636, 0.66666667, 0.33333333],
       [0.09090909, 0.33333333, 0.        ],
       [0.40909091, 0.        , 0.15151515],
       [0.72727273, 0.66666667, 0.51515152],
       [0.45454545, 0.33333333, 0.27272727],
       [0.63636364, 0.5       , 0.6969697 ],
       [0.54545455, 0.66666667, 0.36363636],
       [0.        , 0.        , 0.03030303],
       [1.        , 1.        , 1.        ],
       [0.65909091, 0.33333333, 0.36363636],
       [0.31818182, 0.33333333, 0.24242424],
       [0.45454545, 0.66666667, 0.45454545],
       [0.77272727, 1.        , 0.66666667],
       [0.18181818, 0.33333333, 0.09090909],
       [0.90909091, 1.        , 0.75757576],
       [0.13636364, 0.83333333, 0.06060606],
       [0.63636364, 0.66666667, 0.45454545],
       [0.09090909, 0.33333333, 0.37878788],
       [0.5       , 0.66666667, 0.3030303 ],
       [0.72727273, 0.5       , 0.57575758],
       [0.36363636, 0.33333333, 0.18181818],
       [0.31818182, 0.        , 0.09090909],
       [0.40909091, 0.66666667, 0.21212121],
       [0.22727273, 0.33333333, 0.06060606],
       [0.81818182, 1.        , 0.51515152]])

In [28]:
house_datax_scaled = pd.DataFrame(house_datax_scaled,columns=house_data_x.columns)

In [29]:
house_datax_scaled

    Area (sq. ft.)  Bedrooms  Distance to City Center (km)
0         0.272727  0.333333                      0.212121
1         0.545455  0.666667                      0.393939
2         0.181818  0.333333                      0.121212
3         0.818182  0.666667                      0.636364
4         0.590909  1.000000                      0.818182
5         0.363636  0.666667                      0.333333
6         0.090909  0.333333                      0.000000
7         0.409091  0.000000                      0.151515
8         0.727273  0.666667                      0.515152
9         0.454545  0.333333                      0.272727
10        0.636364  0.500000                      0.696970
11        0.545455  0.666667                      0.363636
12        0.000000  0.000000                      0.030303
13        1.000000  1.000000                      1.000000
14        0.659091  0.333333                      0.363636
15        0.318182  0.333333                      0.242424
16        0.454545  0.666667                      0.454545
17        0.772727  1.000000                      0.666667
18        0.181818  0.333333                      0.090909
19        0.909091  1.000000                      0.757576
20        0.136364  0.833333                      0.060606
21        0.636364  0.666667                      0.454545
22        0.090909  0.333333                      0.378788
23        0.500000  0.666667                      0.303030
24        0.727273  0.500000                      0.575758
25        0.363636  0.333333                      0.181818
26        0.318182  0.000000                      0.090909
27        0.409091  0.666667                      0.212121
28        0.227273  0.333333                      0.060606
29        0.818182  1.000000                      0.515152

In [30]:
X_train,X_test,y_train,y_test = train_test_split(house_datax_scaled,house_data_y,test_size=0.2)

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
lreg = LinearRegression()

In [33]:
lreg.fit(X_train,y_train)

LinearRegression()

In [34]:
train_predictions = lreg.predict(X_train)
test_predictions = lreg.predict(X_test)

In [35]:
from sklearn.metrics import accuracy_score

In [38]:
from sklearn.metrics import r2_score

In [39]:
train_acc = r2_score(y_train,train_predictions)

In [40]:
train_acc

0.9266395652054258

In [41]:
test_acc = r2_score(y_test,test_predictions)

In [42]:
test_acc

0.9418440359914726

In [43]:
test_predictions

array([52.22955886, 27.31429571, 59.92754547, 37.72607557, 42.45823909,
       54.87438018])